<div>
  <label for="language">{{ translations['select_language'] || 'Select Language' }}</label>
  <select id="language" (change)="onLanguageChangeEvent($event)">
    <option value="pl" [selected]="selectedLanguage === 'pl'">Polski</option>
    <option value="en" [selected]="selectedLanguage === 'en'">English</option>
    <option value="de" [selected]="selectedLanguage === 'de'">Deutsch</option>
  </select>
</div>
<div *ngIf="translationLoading">
  ...... ANIMACJA WCZYTYWANIA .......
</div>

<div *ngIf="!translationLoading">
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <div>
    <h3>{{ translations['alone-cabin.responseContainerTitle'] }} </h3>
    <canvas id="cabinetCanvas" width="400" height="400" style="border:1px solid #ddd;"></canvas>
  </div>
  <h2>{{ translations['alone-cabin.calculateTheCabinetParameters'] }}</h2>
  <form>
    <div class="form-row">
      <!-- wybor typu szafki -->
      <div class="dimensions-and-switches">
        <label>
          {{ translations['GENERAL.cabinetType'] }}
          <select [(ngModel)]="cabinetType" name="cabinetType">
            <option *ngFor="let type of cabinetTypes" [value]="type.value">
              {{ translations[type.label] }}
            </option>
          </select>
        </label>
      </div>
      <!-- Pierwsza kolumna: Wymiary, półki, przełączniki -->
      <div class="dimensions-and-switches">
        <label>
          {{ translations['alone-cabin.height'] }}
          <input type="number" [(ngModel)]="height" name="height" />
        </label>
        <label>
          {{ translations['alone-cabin.width'] }}
          <input type="number" [(ngModel)]="width" name="width" />
        </label>
        <label>
          {{ translations['alone-cabin.depth'] }}
          <input type="number" [(ngModel)]="depth" name="depth" />
        </label>
        <label>
          {{ translations['alone-cabin.shelfQuantity'] }}
          <input type="number" [(ngModel)]="shelfQuantity" name="shelfQuantity" />
        </label>
        <!-- Przełącznik jeden/dwa fronty -->
        <label>
          {{ translations['alone-cabin.frontType'] }}
          <select [(ngModel)]="frontType" name="frontType">
            <option *ngFor="let type of frontTypes" [value]="type.value">
              {{ translations[type.label] }}
            </option>
          </select>
        </label>

        <!-- Pole widoczne tylko przy wyborze DRAWER -->
        <div *ngIf="frontType === 'DRAWER'">
          <label>
            {{ translations['alone-cabin.drawerQuantity'] }}
            <input type="number" [(ngModel)]="drawerQuantity" name="drawerQuantity" min="1" />
          </label>
        </div>

        <!-- Przełącznik plecki hdf -->
        <label>
          <span>{{ needBacks ? translations[ 'alone-cabin.hdfBacks'] : translations[ 'alone-cabin.noBacks']}}</span>
          <label class="switch">
            <input id="needBacksSwitch" type="checkbox" [(ngModel)]="needBacks" (change)="onNeedBacksChange()"
              name="needBacks" />
            <span class="slider"></span>
            <span class="tooltip">{{ translations['alone-cabin.shouldAddBack'] }}</span>
          </label>
        </label>
        <!-- Przełącznik czy HDF we wpuscie - wlaczane jesli HDF=true -->
        <div *ngIf="needBacks">
          <label>
            <span>{{ isBackInGroove ? translations[ 'alone-cabin.backInGroove'] : translations[
              'alone-cabin.backNotInGroove']}}</span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isBackInGroove" name="isBackInGroove" [disabled]="!needBacks" />
              <span class="slider"></span>
            </label>
          </label>
        </div>
        <!-- Przełącznik czy szafka wiszaca -->
        <label>
          <span>{{ isHanging ? translations[ 'alone-cabin.isHanging'] : translations[
            'alone-cabin.isNotHanging']}}</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="isHanging" name="isHanging" />
            <span class="slider"></span>
          </label>
        </label>
        <!-- Przełącznik czy zawieszona na szynie? wlaczony jesli wiszaca -->
        <div *ngIf="isHanging">
          <label>
            <span>{{ isHangingOnRail ? translations[ 'alone-cabin.isHangingOnRail'] : translations[
              'alone-cabin.isHangingNotRail']}}</span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isHangingOnRail" name="isHangingOnRail" />
              <span class="slider"></span>
            </label>
          </label>
        </div>
      </div>

      <!-- Druga kolumna: Materiał korpusu i frontu -->
      <div class="materials">
        <label>
          {{ translations['alone-cabin.materialBox'] }}
          <select [(ngModel)]="boxMaterial" name="boxMaterial">
            <option *ngFor="let material of materials" [value]="material.value">
              {{ translations[material.label] }}
            </option>
          </select>
        </label>
        <label>
          {{ translations['alone-cabin.boxBoardThickness'] }}
          <select [(ngModel)]="boxBoardThickness" name="boxBoardThickness">
            <option *ngFor="let thickness of thicknesses" [value]="thickness">
              {{ thickness }}
            </option>
          </select>
        </label>
        <label>
          {{ translations['alone-cabin.colorBox'] }}
          <select [(ngModel)]="boxColor" name="boxColor">
            <option *ngFor="let color of colors" [value]="color.value">
              {{ translations[color.label] }}
            </option>
          </select>
        </label>
        <label>
          {{ translations['alone-cabin.boxVeneerColor'] }}
          <select [(ngModel)]="boxVeneerColor" name="boxVeneerColor">
            <option *ngFor="let color of colors" [value]="color.value">
              {{ translations[color.label] }}
            </option>
          </select>
        </label>
        <label>
          {{ translations['alone-cabin.materialFront'] }}
          <select [(ngModel)]="frontMaterial" name="frontMaterial">
            <option *ngFor="let material of materials" [value]="material.value">
              {{ translations[material.label] }}
            </option>
          </select>
        </label>
        <!-- Przełącznik czy Front przedluzony o 2cm -->
        <div *ngIf="frontType !== 'DRAWER' && isHanging">
          <label>
            <span>{{ isFrontExtended ? translations[ 'alone-cabin.isFrontExtended'] : translations[
              'alone-cabin.isFrontNotExtended']}}</span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isFrontExtended" name="isFrontExtended" />
              <span class="slider"></span>
            </label>
          </label>
        </div>
        <!-- Przełącznik czy na szafce bedzie blat/plyta (np kuchenne) - tylko jesli nie wisza -->
        <div *ngIf="!isHanging">
          <label>
            <span>{{ isCoveredWithCounterTop ? translations[ 'alone-cabin.isCoveredWithCounterTop'] : translations[
              'alone-cabin.isNotCoveredWithCounterTop']}}</span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isCoveredWithCounterTop" name="isCoveredWithCounterTop" />
              <span class="slider"></span>
            </label>
          </label>
        </div>
        <!-- Przełącznik czy lakierowany front -->
        <label *ngIf="frontMaterial === 'MDF'">
          <span>{{ varnishedFront ? translations['alone-cabin.varnishedFront'] :
            translations['alone-cabin.frontWithVeneer'] }}</span>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="varnishedFront" name="varnishedFront" />
            <span class="slider"></span>
            <span class="tooltip">{{ translations['alone-cabin.frontWithVeneerOrVarnished'] }}</span>
          </label>
        </label>
        <label>
          {{ translations['alone-cabin.frontBoardThickness'] }}
          <select [(ngModel)]="frontBoardThickness" name="frontBoardThickness">
            <option *ngFor="let thickness of thicknesses" [value]="thickness">
              {{ thickness }}
            </option>
          </select>
        </label>
        <label>
          {{ translations['alone-cabin.colorFront'] }}
          <select [(ngModel)]="frontColor" name="frontColor">
            <option *ngFor="let color of colors" [value]="color.value">
              {{ translations[color.label] }}
            </option>
          </select>
        </label>
        <label *ngIf="!varnishedFront">
          {{ translations['alone-cabin.frontVeneerColor'] }}
          <select [(ngModel)]="frontVeneerColor" name="frontVeneerColor">
            <option *ngFor="let color of colors" [value]="color.value">
              {{ translations[color.label] }}
            </option>
          </select>
        </label>

      </div>
    </div>
    <button type="button" (click)="calculateCabinet()">Oblicz</button>
  </form>


  <div *ngIf="response" class="response-container">
    <h3>{{ translations['alone-cabin.boardList'] }}</h3>

    <table>
      <thead>
        <tr>
          <th>{{ translations['alone-cabin.id'] }}</th>
          <th>{{ translations['alone-cabin.boardName'] }}</th>
          <th>{{ translations['alone-cabin.quantity'] }}</th>
          <th>{{ translations['alone-cabin.length'] }}</th>
          <th>{{ translations['alone-cabin.veneer'] }}</th>
          <th>{{ translations['alone-cabin.width'] }}</th>
          <th>{{ translations['alone-cabin.veneer'] }}</th>
          <th>{{ translations['alone-cabin.thickness'] }}</th>
          <th>{{ translations['alone-cabin.pricePerUnit'] }}</th>
          <th>{{ translations['alone-cabin.totalPrice'] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of response.boards; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ translations[board.boardName] }}</td>
          <td>{{ board.quantity }}</td>
          <td>{{ board.sideX }}</td>
          <td>{{ board.veneerX ?? '0' }}</td>
          <td>{{ board.sideY }}</td>
          <td>{{ board.veneerY ?? '0' }}</td>
          <td>{{ board.boardThickness ?? '18' }}</td>
          <td>{{ board.scrapedElement.price }} PLN</td>
          <td>{{ board.totalPrice }} PLN</td>
        </tr>
        <!-- Wiersz z kosztami -->
        <tr>
          <td style="border: none; background-color: white;" colspan="7"></td>
          <!-- Puste komórki dla lewej strony tabeli -->
          <td colspan="2" class="highlight-cell">Koszty Płyt:</td>
          <td> {{ response.boardTotalCost }} PLN</td>
        </tr>
      </tbody>
    </table>
    <h3>{{ translations['alone-cabin.requiredComponents'] }}</h3>
    <table>
      <thead>
        <tr>
          <th>{{ translations['alone-cabin.id'] }}</th>
          <th>{{ translations['alone-cabin.elementType'] }}</th>
          <th>{{ translations['alone-cabin.elementModel'] }}</th>
          <th>{{ translations['alone-cabin.quantity'] }}</th>
          <th>{{ translations['alone-cabin.pricePerUnit'] }}</th>
          <th>{{ translations['alone-cabin.totalPrice'] }}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let component of response.components; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ translations[component.category] }} {{ (component.additionalInfo !== null &&
            component.additionalInfo.length>0 ? ' ' + component.additionalInfo[0] :'') }}</td>
          <td>{{ translations[component.model] !==null && translations[component.model] !== undefined ?
            translations[component.model] : component.model }} {{ (component.additionalInfo !== null &&
            component.additionalInfo.length>0 ? ' '+ translations['GENERAL.color'] +' ' +
            translations[component.additionalInfo[1]] :'') }}</td>
          <td>{{ component.quantity ?? '0' }} {{ translations[component.scrapedElement.unit] !==null &&
            translations[component.scrapedElement.unit] !== undefined ? translations[component.scrapedElement.unit] :
            component.scrapedElement.unit }}</td>
          <td>{{ component.scrapedElement.price }} PLN</td>
          <td>{{ component.totalPrice }} PLN</td>
        </tr>
        <!-- Wiersz z kosztami -->
        <tr>
          <td style="border: none; background-color: white;" colspan="3"></td>
          <!-- Puste komórki dla lewej strony tabeli -->
          <td class="highlight-cell" colspan="2">Koszty komponentów:</td>
          <td> {{ response.componentTotalCost }} PLN</td>
        </tr>

      </tbody>
    </table>
    <h3>{{ translations['alone-cabin.jobList'] }}</h3>
    <table>
      <thead>
        <tr>
          <th>{{ translations['alone-cabin.id'] }}</th>
          <th>{{ translations['alone-cabin.name'] }}</th>
          <th>{{ translations['alone-cabin.type'] }}</th>
          <th>{{ translations['alone-cabin.quantity'] }}</th>
          <th>{{ translations['alone-cabin.unit'] }}</th>
          <th>{{ translations['alone-cabin.pricePerUnit'] }}</th>
          <th>{{ translations['alone-cabin.totalPrice'] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of response.jobs; index as i">
          <td>{{ i + 1 }}</td>
          <td class="tooltip-cell" [attr.title]="getTranslatedAdditionalInfo(job.additionalInfo)">
            {{ translations[job.category] }}
          </td>
          <td>{{ translations[job.type] }}</td>
          <td>{{ job.quantity ?? '0' }}</td>
          <td>{{ translations[job.scrapedElement.unit] !==null &&
            translations[job.scrapedElement.unit] !== undefined ? translations[job.scrapedElement.unit] :
            job.scrapedElement.unit }}</td>
          <td>{{ job.scrapedElement.price }}</td>
          <td>{{ job.totalPrice }}</td>
        </tr>
        <!-- Wiersz z kosztami -->
        <tr>
          <td style="border: none; background-color: white; " colspan="4"></td>
          <!-- Puste komórki dla lewej strony tabeli -->
          <td class="highlight-cell">Koszty prac:</td>
          <td> {{ response.jobTotalCost }} PLN</td>
        </tr>

      </tbody>
    </table>
  </div>


</div>