<div class="numeric-input-container" [id]="id" >
  <!-- Etykieta -->
  <label *ngIf="label" [for]="id + '-input'" class="numeric-input-label">
    {{ label }}
  </label>

  <!-- Tooltip z komunikatem błędu -->
  <div class="error-tooltip" *ngIf="hasError" [id]="id + '-tooltip'">
    {{ errorMessage }}
    <div class="tooltip-arrow"></div>
  </div>

  <!-- Pole tekstowe -->
  <input
    type="number"
    [id]="id + '-input'"
    [value]="value"
    (input)="onInputChange($event)"
    [disabled]="_isDisabled"
    [class.error]="hasError"
    [min]="min"
    [max]="max"
    [step]="step"
    [appMaxLengthForNumber]="10"
    [maxDecimalPlaces]="2"
  />

  <!-- Suwak -->
  <div class="range-container">
    <span class="range-label">{{ min }}</span>
    <input
      type="range"
      [id]="id + '-range'"
      [value]="value"
      (input)="onInputChange($event)"
      [min]="min"
      [max]="max"
      [step]="step"
      [disabled]="_isDisabled"
    />
    <span class="range-label">{{ max }}</span>
  </div>
</div>
