<div class="three-wrapper">
  <div #threeContainer class="three-canvas"></div>

  <div class="controls">
    <div class="color-control">
      <label>Wygląd blatu</label>
      <select #topPreset (change)="applyPresetOption('top', topPreset.value)">
        <option *ngFor="let o of presetOptions" [value]="o.id">{{ o.label }}</option>
      </select>
    </div>

    <div class="color-control">
      <label>Wygląd korpusu</label>
      <select #carcassPreset (change)="applyPresetOption('carcass', carcassPreset.value)">
        <option *ngFor="let o of presetOptions" [value]="o.id">{{ o.label }}</option>
      </select>
    </div>

    <div class="color-control">
      <label>Wygląd frontów</label>
      <select #frontPreset (change)="applyPresetOption('front', frontPreset.value)">
        <option *ngFor="let o of presetOptions" [value]="o.id">{{ o.label }}</option>
      </select>
    </div>

    <div class="dims">
      <label>W: <input type="number" [(ngModel)]="dims.width"></label>
      <label>H: <input type="number" [(ngModel)]="dims.height"></label>
      <label>D: <input type="number" [(ngModel)]="dims.depth"></label>
      <button (click)="applyDimensions()">Zastosuj</button>
    </div>
  </div>
</div>
