<svg
  [attr.viewBox]="'0 0 ' + displayWidth + ' ' + displayHeight"
  aria-label="Mini podglad sciany"
  class="mini-wall-preview"
  preserveAspectRatio="xMidYMid meet"
  role="img">

  <rect [attr.height]="displayHeight" [attr.width]="displayWidth" class="mini-wall-bg" x="0" y="0"></rect>

  <rect
    *ngFor="let plinth of plinthRuns; trackBy: trackByIndex"
    [attr.height]="plinth.height"
    [attr.width]="plinth.width"
    [attr.x]="plinth.x"
    [attr.y]="plinth.y"
    class="mini-wall-plinth">
  </rect>

  <rect
    *ngFor="let pos of visualPositions; trackBy: trackByCabinetId"
    [attr.class]="cabinetZoneClass(pos)"
    [attr.height]="pos.bodyHeight"
    [attr.width]="pos.displayWidth"
    [attr.x]="pos.displayX"
    [attr.y]="pos.displayY"
    rx="1">
  </rect>

  <line [attr.x2]="displayWidth" [attr.y1]="displayHeight - 1" [attr.y2]="displayHeight - 1" class="mini-wall-floor"
        x1="0"></line>
</svg>
