<div *ngIf="visible" [class.disabled]="disabled" [class.has-error]="hasError" class="radio-button-group">
  <span *ngIf="title" class="group-title">{{ title }}</span>

  <div class="radio-options">
    <div *ngFor="let option of options; let i = index; trackBy: trackByValue" class="radio-option">
      <input
        (change)="onSelectionChange(option.value)"
        [checked]="option.value === selectedValue"
        [disabled]="disabled"
        [id]="id + '-' + i"
        [title]="option.tooltip || ''"
        [value]="option.value"
        class="radio-input"
        type="radio"
      />
      <label
        [for]="id + '-' + i"
        [title]="option.tooltip || ''"
        class="radio-label">
        {{ option.label }}
      </label>
    </div>
  </div>

  <p *ngIf="hasError" class="radio-button-error">{{ displayedErrorMessage }}</p>
</div>
